.experienceBar {
  display: flex;
  align-items: center;
  width: 100%;

  span {
    font-size: 1rem;
  }

  & > div {
    flex: 1;
    height: 14px;
    border-radius: 16px;
    background: var(--background);
    margin: 0 1.5rem;
    position: relative;

    & > div {
      height: 14px;
      border-radius: 16px;
      background: var(--green);
    }
  }

  span.experience {
    position: absolute;
    top: 16px;
    transform: translateX(-50%);
  }
}

