* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loader {
  position: absolute;
  background-color: black;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.loader > div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 6;
  height: 100%;
}
:root {
  --white: #FFFFFF;
  --background: #181E39;
  --alternateBackground: #282f4d;
  --accent: #FF7070;
  --green: #0be874;
}

body{
  color: var(--accent);
  background-color: var(--background);
  font-family: 'Iceland', cursive;
}

body, input, button, textarea {
  font: 400 16px 'Iceland', sans-serif;
}