* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --background: #181E39;
  --alternateBackground: #282f4d;
  --accent: #FF7070;
  --green: #0be874;
}

body{
  color: var(--accent);
  background-color: var(--background);
  font-family: 'Iceland', cursive;
}

body, input, button, textarea {
  font: 400 16px 'Iceland', sans-serif;
}