.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: var(--alternateBackground);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  p {
    font-size: 24px;
    margin-bottom: 24px;
  }

  button {
    justify-self: center;
    border: none;
    width: 200px;
    height: 40px;
    background: var(--background);
    color: var(--accent);
    border-radius: 15px;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 15px;
      background-color: var(--accent);
      z-index: -1;
      transition: all 250ms
     }
     
     &:hover {
      color: var(--background);
      &:before {
        width: 100%;
       }
     }
   }
}